-- Merge duplicate barcode/email rows and keep one row per (barcode, email)

-- 1. Create a temporary table for merging
CREATE TABLE IF NOT EXISTS Barcode_Info_merge AS 
SELECT MIN(id) as id, barcode, email, 
       JSON_MERGE_PRESERVE(JSON_ARRAYAGG(CASE WHEN images IS NOT NULL AND images<>'' THEN JSON_EXTRACT(images, '$') ELSE JSON_ARRAY() END), JSON_ARRAYAGG(image)) as images, 
       MAX(date) as date, MAX(full_name) as full_name, MAX(department) as department
FROM Barcode_Info
GROUP BY barcode, email;

-- 2. Replace main Barcode_Info with merged data
DELETE FROM Barcode_Info;
INSERT INTO Barcode_Info (id, barcode, email, images, date, full_name, department, image)
SELECT id, barcode, email, JSON_UNQUOTE(images), date, full_name, department, '' FROM Barcode_Info_merge;

DROP TABLE Barcode_Info_merge;
